.gradle
.kotlin
.idea
app/build
build
/keystore
/app/release
/OBB DAT
SignKeys
gradle.properties
app/usage.txt
app/mapping.txt
/app/debug
local.properties
keystore.properties
upload-keystore.jks
app/version.properties
gradle/gradle-daemon-jvm.properties
app/src/main/assets/blackops_atitc.dz
app/src/main/assets/blackops_etc.dz
app/src/main/assets/blackops_gles1.dz
app/src/main/assets/blackops-music/
app/src/main/assets/deadops-music/
buildtools/smali_out/
buildtools/__pycache__/
buildtools/nullable_errs*.txt

# session scratch
/iwtrace.txt
/ui.xml
/ui2.xml
/ui3.xml
iwtrace.txt
ui.xml
ui2.xml
ui3.xml
