XGdJRVDhgwjcyEr1SnT4lXNSl6SBKshDc29axH6RBMf2sKFZhSOc0xJAPGcQvs/fx5fwIDAQAB"
ResDownloadLink="http://cdn-boz-android.callofduty.com/PROD/CODBOZ/1_0_9/"
ResourcePath = "com.activision.boz/"
[s3e]
SysAppVersion=1.0.11
SysAppCaption="COD:BOZ"
AndroidExtSo="libs3eFacebook.so;libs3eAmazonInAppPurchasing.so;libs3eAndroidMarketBilling.so;libs3eAndroidGooglePlayBilling.so;libs3eSamsungInAppPurchasing.so;libIsDevice.so;libIsIOSUtils.so;libs3eGooglePlayServices.so"
{}
[S3E]
SysGlesDirectory=pvr
